body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    line-height: 30px;
    text-align: center;
  }

  #gif {
    width:480px;
    height: 307px;
    border: thick double rgb(155, 82, 203);
  }
  
  h1 {
    text-align: center;
    color: rgb(155, 82, 203);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 15px;
  }
  
  main {
    margin: 40px;
  }
  
  p {
    text-align: "left";
    padding-left: 60px;
    padding-right: 60px;

  }
  
  section {
    border: thick double rgb(155, 82, 203);
    margin-bottom: 30px;
    width: 100%; 
  
   
  }
  
  button {
    height: 60px;
    margin-top: 30px;
    background-color: rgb(155, 82, 203);
    border: #F5F5F5;
    
  
  }
  
  #projeto1,#projeto2 {
    padding: 50px 100px;
    line-height: auto;   

    
  }
  #projeto1,#projeto2 h2 {
    padding-bottom: 20px;
    color: rgb(155, 82, 203) ;

  }

  
  #formulario {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
  }
  
  #notas {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
  }
  
  #btnSituacao{
    width: 300px;
    font-size: large;
    color: aliceblue;
  }
  
  #content {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }
  
  #contentCalcMedias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .nota {
    display: flex;
    flex-direction: column;
   
    font-size: 20px;
  }
  
  .inputCalc {
    width: 110px;
    height: 30px;
  }
  
  .buttonCalc {
    width: 110px;
    color: aliceblue;
  }
  
  .resultado {
    margin-top: 0;
  }
  
  .inputNota{
    width: 80px;
    height: 36px;
  }